*:not(p){
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #292870;
    --secondary-color: #efab47;
    --text-color: #bebded;
}

a{
    color: #fff;
    text-decoration: none;
}

h1{
    margin: 0;
}

body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.aman{
    width: 100%;
    height: 70px;
    background-color: bisque;
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbar{
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    color: white;
    box-sizing: border-box;
}

.nav-content{
    width: 1140px;
    height: 80px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    width: 64px;
    height: 32px;
    margin-top: 24px;
    margin-right: auto;
}

.burger-icon{
    display: flex;;
    align-items: center;
}

#burger{
    width: 34px;
    height: 44px;
}

#burger:hover{
    cursor: pointer;
}

.welcomer{
    width: 100%;
    height: 979px;
    background-image: url(assets/img/bg-welcomer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    justify-content: center;
    align-items: end;
    text-align: center;
}

.w-logo{
    width: 88px;
    height: 88px;
    margin-top: 40px;
    object-fit: contain;
}

.w-heading{
    color: white;
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.2;
    text-shadow: 3px 3px 13px rgba(0,0,0,0.25);
    letter-spacing: 4px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.welcomer-man{
    width: 916px;
    height: 493px;
    background-image: url(assets/img/welcomer-man.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin: 33px auto 0;
    justify-self: flex-end;
}

.img-src{
   font-size: 1.125rem; 
   text-shadow: 1px 1px 5px rgba(0,0,0,0.4);
   letter-spacing: 5px;
   font-weight: 550;
   color: white;
   font-family: 'Open Sans', sans-serif;
}

.freepik{
    border-bottom: 2px solid white;
    padding: 0;
    cursor: pointer;
}

.freepik:hover{
    cursor: pointer;
    border: none;
    color: #e6e6e6;
}

.buttons{
    margin-top: 40px;
}

.btn{
    background-color: #fff;
    border-radius: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.125rem;
    text-transform: uppercase;
    box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.4);
    padding: 16px 40px 16px 40px;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans serif;
    border: none;
}

.btn-download{
    color: var(--primary-color);
    margin-right: 10px;
}

.btn-download:hover{
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.btn-free{
    color: #fff;
    background-color: var(--primary-color);
}

.btn-free:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

.benefits{
    width: 100%;
    height: 691.58px;
    background-color: var(--primary-color);
}

.benefit-content{
    width: 1140px;
    height: 691.58px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.panel{
    height: 571.58px;
}

.lph{
    margin: 30px 0 0 0;
    font-weight: 400;
    font-size: 1.875rem;
    font-family: Oswald, sans-serif;
    color: var(--secondary-color);
}

.left-content{
    padding: 30px 0 0 30px;
}

.profile-pic{
    width: 227px;
    height: 227px;
    background-image: url(assets/img/bg-profile-pic.jpg);
    background-size: cover;
    border-radius: 50%;
}

.h-benefits{
    color: var(--secondary-color);
    font-size: 1.875rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    margin: 36px auto 0 0;
    font-family: 'Roboto', sans-serif;
}

.divider{
    max-width: 198px;
    height: 10px;
    margin: 23px auto 0 0;
    background-color: var(--secondary-color);
    border: none;
}

.sample-text{
    color: #fff;
    font-size: 1rem;
    line-height: 1.6;
    margin: 30px 246px 0 0;
    word-wrap: break-word;
    font-family: 'Open Sans',sans-serif;
}

.sample-text-2{
    font-size: 1.125rem;
    line-height: 1.4;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
    font-weight: 400;
    font-family: "Montserrat", "sans-serif";
    color: #fff;
    margin: 20px 174px 0 0;
}

.read-more{
    letter-spacing: 2px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.25);
    border-radius: 50px;
    margin: 20px auto 0 0;
    padding: 11px 50px 13px 48px;
    font-family: 'Open Sans',sans-serif;
}

.read-more:hover{
    background-color: #fff;
    cursor: pointer;
}

.how-it-works{
    background-color: var(--primary-color);
    width: 100%;
    height: 741px;
    display: grid;
    justify-content: center;
}

.hiw-content{
    width: 1140px;
    height: 741px;
    margin: 0 auto;
}

.h-hiw{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 3.75rem;
    padding: 95px 0 0 0;
    font-family: 'Oswald',sans-serif !important;
    color: var(--secondary-color);
}

.container{
    width: 1140px;
    height: 341px;
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card{
    width: 369.98px;
    height: 341px;
}

.card-body{
    padding: 30px 30px 30px 0;
}

.card-pp{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-pp>i{
    color: var(--primary-color);
}

.card-header{
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 34px auto 0 0;
    color: var(--secondary-color);
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
}

.h-text{
    max-width: 339.98px;
    font-size: 1.125rem;
    color: var(--text-color);
    margin: 26px 0 0;
    word-wrap: break-word;
    font-family: 'Open Sans',sans-serif;
    line-height: 1.6;
}

.price{
    width: 100%;
    height: 646px;
    background-image: url(assets/img/bg-2.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
}

.price-content{
    width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.p-panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h-live-music{
    line-height: 1;
    text-shadow: 3px 3px 9px rgba(0,0,0,0.4);
    font-weight: 700;
    font-family: Oswald, sans-serif !important;
    font-size: 6rem;
    margin: 0 auto 0 0;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
}

.million{
    text-shadow: 2px 2px 9px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0);
    font-size: 2.25rem;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 auto 0 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.h-price{
    width: 250px;
    text-shadow: 1px 1px 11px rgba(0,0,0,0.4);
    font-size: 2.25rem;
    font-family: Oswald, sans-serif !important;
    color: #fff;
    word-wrap: break-word;
    font-weight: normal;
}

.p-left-panel{
    padding: 30px 0;
}

.p-right-panel{
    background-image: url(assets/img/bg-price.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 570px;
    position: absolute;
    top: 39px;
    left: 50%;
}

.contact{
    display: block;
    width: 100%;
    height: 626px;
    background-image: url(assets/img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.contact-content{
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.c-container{
    width: 965px;
    height: 448px;
    border: 1px solid #c0c0c0;
    background-color: #fff;
    margin: 10px auto 0;
    box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 60px;
}

.c-info{
    font-weight: 700;
    font-size: 1.875rem;
    margin-top: 4px;
    font-family: Oswald, sans-serif;
    color: var(--primary-color);
    text-transform: capitalize;
    letter-spacing: 1px;
}

.c-item{
    margin-top: 20px;
}

i{
    color: var(--primary-color);
}

.i-span{
    font-size: 1.25rem;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
}

.i-span:hover{
    cursor: pointer;
}

.location{
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1.6;
    font-size: 18px;
    max-width: 300px;
}

.location>span>i{
    width: 16px;
    height: 16px;
}

.icons{
    margin-top: 30px;
}

.icons i{
    color: var(--primary-color);
    font-size: 36px;
    margin-right: 5px;
}

.icons i{
    cursor: pointer;
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.f-input{
   height: 45.59px;
   background-color: var(--secondary-color); 
   margin-bottom: 10px;
   padding-left: 10px;
   color: #fff;
   border: none;
   padding: 10px 12px;
   font-size: 1rem;
}

.f-textarea{
    background-color: var(--secondary-color);
    font-size: 1rem;
    padding: 10px 12px;
    color: #fff;
    margin-bottom: 10px;
    height: 122.38px;
    border: none;
}

.f-btn{
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    padding: 12px 30px 13px;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 1px 0;
}

.f-btn:hover{
    cursor: pointer;
    background-color: #252465;
}

::placeholder{
    color: #ffffff60;
}

.p-footer{
    text-align: center;
    margin-top: 20px;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.125rem;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    font-weight: 600;
    color: #fff;
}